#container{
  text-align: center;
  margin-top:0px;
}
button{
  margin:0 5px;
  padding:5px 8px;
}

.user, .user-child, .user-grandchild{
  margin-top:20px;
  padding: 10px;
  border:1px solid #ccc;
  display: inline-block;
}
.header{
  width:100%;
  padding:20px 0;
  background-color: black;
}

.header a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin:0 35px;
}
.header a:hover{
  color:aquamarine;
}