#center{
  text-align: center;
}

button{
  padding: 5px 10px;
  margin: 0 5px;
}

input{
  padding: 7px;
}

.brTag{
  margin-top:20px;
}

.header{
  margin: 30px auto;
}

.header a{
  margin: 0 20px;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.header a:hover{
  color:blueviolet;
}