ul {
  list-style-type: none;
  padding: 0;
}
.drikName, .userName{
  margin: 50px auto;
  font-weight:500;
  border: 1px solid #fff;
  padding: 20px;
  width:500px;
}

.tit{
  margin: 50px auto;
  font-weight:500;
  border: 1px solid #fff;
  padding: 20px 0;
  width:300px;
}

.avatar{
  border-radius: 3%;

}
.card img{
  border: 2px solid #06cccc;
  border-radius: 12px;
  padding:7px;
}
.btn{ margin-top: 20px;}

.sign_tit{
  margin-top:30px;
  font-weight:bold;
}

#root{
  text-align: left;
  padding-left:50px;
}

.success{
  color:green;
  font-weight:bold;
}
.fail{
  color:red;
  font-weight:bold;
}